img {
  width: 150px;
  height: 150px;
}
body{
  background-color: #ff8585;
}
/* changed the font of the paragraph text aswel as for the h1,h3,h5, and h2*/
p,h5{
  font-size: 20px;
  font-family: comic sans ms;
  color: #f53d3d;
}
h1,h3,h2{
  font-size: 30px;
  font-family: comic sans ms;
  color: #f53d3d;
}